In [2]:
from pyspark.sql import SQLContext
from pyspark.sql.types import *
import folium
import plotly.plotly as py
import plotly.graph_objs as go
import plotly
plotly.tools.set_credentials_file(username='silkeh', api_key='GwBAmaelgKfgkrmuL691')

In [3]:
def create_data_list(data):
    data_list = data.collect()
    #delete header
    del data_list[0]
    templist = []
    for item in data_list:
        temp = item.split(",")
        del temp[0]
        templist.append(temp)
    return templist

In [27]:
#US Baby Names
#NationalNames.csv
#Id,Name,Year,Gender,Count
nationalname_rdd = (sc.textFile('C:/Users/Silke/Documents/GitHub/DataMiningAP/us-baby-names/NationalNames.csv'))
nationalname_list = create_data_list(nationalname_rdd)
for x in range(0,20):
    print(nationalname_list[x])
print(nationalname_rdd.take(1))

['Mary', '1880', 'F', '7065']
['Anna', '1880', 'F', '2604']
['Emma', '1880', 'F', '2003']
['Elizabeth', '1880', 'F', '1939']
['Minnie', '1880', 'F', '1746']
['Margaret', '1880', 'F', '1578']
['Ida', '1880', 'F', '1472']
['Alice', '1880', 'F', '1414']
['Bertha', '1880', 'F', '1320']
['Sarah', '1880', 'F', '1288']
['Annie', '1880', 'F', '1258']
['Clara', '1880', 'F', '1226']
['Ella', '1880', 'F', '1156']
['Florence', '1880', 'F', '1063']
['Cora', '1880', 'F', '1045']
['Martha', '1880', 'F', '1040']
['Laura', '1880', 'F', '1012']
['Nellie', '1880', 'F', '995']
['Grace', '1880', 'F', '982']
['Carrie', '1880', 'F', '949']
['Id,Name,Year,Gender,Count']

In [29]:
#State Baby Names
#StateNames.csv
#Id,Name,Year,Gender,State,Count
statename_list = []
for x in range(0,12):
    statename_rdd = (sc.textFile('C:/Users/Silke/Documents/GitHub/DataMiningAP/us-baby-names/StateNames_' + str(x) + '.csv'))
    statename_list.extend(create_data_list(statename_rdd))
for x in range(0,20):
    print(statename_list[x])

['Mary', '1910', 'F', 'AK', '14']
['Annie', '1910', 'F', 'AK', '12']
['Anna', '1910', 'F', 'AK', '10']
['Margaret', '1910', 'F', 'AK', '8']
['Helen', '1910', 'F', 'AK', '7']
['Elsie', '1910', 'F', 'AK', '6']
['Lucy', '1910', 'F', 'AK', '6']
['Dorothy', '1910', 'F', 'AK', '5']
['Mary', '1911', 'F', 'AK', '12']
['Margaret', '1911', 'F', 'AK', '7']
['Ruth', '1911', 'F', 'AK', '7']
['Annie', '1911', 'F', 'AK', '6']
['Elizabeth', '1911', 'F', 'AK', '6']
['Helen', '1911', 'F', 'AK', '6']
['Mary', '1912', 'F', 'AK', '9']
['Elsie', '1912', 'F', 'AK', '8']
['Agnes', '1912', 'F', 'AK', '7']
['Anna', '1912', 'F', 'AK', '7']
['Helen', '1912', 'F', 'AK', '7']
['Louise', '1912', 'F', 'AK', '7']

In [23]:
full_statename_rdd = (sc.textFile('C:/Users/Silke/Documents/GitHub/DataMiningAP/us-baby-names/StateNames.csv'))
alabama_rdd = full_statename_rdd.filter(lambda x: 'AL' in x)
alaska_rdd = full_statename_rdd.filter(lambda x: 'AK' in x)
arizona_rdd = full_statename_rdd.filter(lambda x: 'AZ' in x)
arkansas_rdd = full_statename_rdd(lambda x: 'AR' in x)
california_rdd = full_statename_rdd(lambda x: 'CA' in x)
colorado_rdd = full_statename_rdd(lambda x: 'CO' in x)
connecticut_rdd = full_statename_rdd(lambda x: 'AK' in x)
delaware_rdd = full_statename_rdd(lambda x: 'DE' in x)
florida_rdd = full_statename_rdd(lambda x: 'FL' in x)
Georgia_rdd = full_statename_rdd(lambda x: 'GA'in x)
hawaii_rdd = full_statename_rdd(lambda x: 'HI' in x)
idaho_list = list(filter(lambda x: x[3] == 'ID', statename_list))
illinois_list = list(filter(lambda x: x[3] == 'IL', statename_list))
indiana_list = list(filter(lambda x: x[3] == 'IN', statename_list))
iowa_list = list(filter(lambda x: x[3] == 'IA', statename_list))
kansas_list = list(filter(lambda x: x[3] == 'KS', statename_list))
kentucky_list = list(filter(lambda x: x[3] == 'KY', statename_list))
louisiana_list = list(filter(lambda x: x[3] == 'LA', statename_list))
maine_list = list(filter(lambda x: x[3] == 'ME', statename_list))
maryland_list = list(filter(lambda x: x[3] == 'MD', statename_list))
massachusetts_list = list(filter(lambda x: x[3] == 'MA', statename_list))
michigan_list = list(filter(lambda x: x[3] == 'MI', statename_list))
minnesota_list = list(filter(lambda x: x[3] == 'MN', statename_list))
mississippi_list = list(filter(lambda x: x[3] == 'MS', statename_list))
missouri_list = list(filter(lambda x: x[3] == 'MO', statename_list))
montana_list = list(filter(lambda x: x[3] == 'MT', statename_list))
nebraska_list = list(filter(lambda x: x[3] == 'NE', statename_list))
nevada_list = list(filter(lambda x: x[3] == 'NV', statename_list))
new_hampshire_list = list(filter(lambda x: x[3] == 'NH', statename_list))
new_jersey_list = list(filter(lambda x: x[3] == 'NJ', statename_list))
new_mexico_list = list(filter(lambda x: x[3] == 'NM', statename_list))
new_york_list = list(filter(lambda x: x[3] == 'NY', statename_list))
north_carolina_list = list(filter(lambda x: x[3] == 'NC', statename_list))
north_dakota_list = list(filter(lambda x: x[3] == 'ND', statename_list))
ohio_list = list(filter(lambda x: x[3] == 'OH', statename_list))
oklahoma_list = list(filter(lambda x: x[3] == 'OK', statename_list))
oregon_list = list(filter(lambda x: x[3] == 'OR', statename_list))
pennsylvania_list = list(filter(lambda x: x[3] == 'PA', statename_list))
rhode_island_list = list(filter(lambda x: x[3] == 'RI', statename_list))
south_carolina_list = list(filter(lambda x: x[3] == 'SC', statename_list))
south_dakota_list = list(filter(lambda x: x[3] == 'SD', statename_list))
tennessee_list = list(filter(lambda x: x[3] == 'TN', statename_list))
texas_list = list(filter(lambda x: x[3] == 'TX', statename_list))
utah_list = list(filter(lambda x: x[3] == 'UT', statename_list))
vermont_list = list(filter(lambda x: x[3] == 'VT', statename_list))
virginia_list = list(filter(lambda x: x[3] == 'VA', statename_list))
washington_list = list(filter(lambda x: x[3] == 'WA', statename_list))
west_virginia_list = list(filter(lambda x: x[3] == 'WV', statename_list))
wisconsin_list = list(filter(lambda x: x[3] == 'WI', statename_list))
wyoming_list = list(filter(lambda x: x[3] == 'WY', statename_list))

['91,Sally,1916,F,AK,5', '500,Sally,1933,F,AK,5', '553,Sally,1935,F,AK,5', '585,Geraldine,1936,F,AK,5', '619,Sally,1937,F,AK,5']

In [22]:
temp = list(filter(lambda x: x[1] == '2000', arizona_list))
temp.sort(key = (lambda x: int(x[4])), reverse = True)
for x in range(0,20):
    print(temp[x])

['Anthony', '2008', 'M', 'AZ', '574']
['Daniel', '2008', 'M', 'AZ', '520']
['Angel', '2008', 'M', 'AZ', '514']
['Alexander', '2008', 'M', 'AZ', '485']
['Jacob', '2008', 'M', 'AZ', '482']
['Michael', '2008', 'M', 'AZ', '475']
['Isabella', '2008', 'F', 'AZ', '466']
['Ethan', '2008', 'M', 'AZ', '447']
['Jose', '2008', 'M', 'AZ', '439']
['Joshua', '2008', 'M', 'AZ', '427']
['Sophia', '2008', 'F', 'AZ', '423']
['Jesus', '2008', 'M', 'AZ', '422']
['David', '2008', 'M', 'AZ', '410']
['Joseph', '2008', 'M', 'AZ', '401']
['Christopher', '2008', 'M', 'AZ', '395']
['Gabriel', '2008', 'M', 'AZ', '394']
['Andrew', '2008', 'M', 'AZ', '393']
['Aiden', '2008', 'M', 'AZ', '391']
['Emma', '2008', 'F', 'AZ', '378']
['Emily', '2008', 'F', 'AZ', '364']

In [8]:
trc = dict (
    type = 'choropleth',
    locations = ['AZ', 'CA', 'VT'],
    locationmode = 'USA-states',
    colorscale ='Viridis',
    z = ['Mary','Dorothy','Mary'])
lyt = dict ( geo = dict (scope ='usa'))
map = go.Figure (data = [trc],
    layout = lyt)
py.iplot(map)