# Imports

In [3]:
from pyspark.sql import SQLContext
from pyspark.sql.types import *
import folium
import plotly.plotly as py
import plotly.graph_objs as go
import plotly
plotly.tools.set_credentials_file(username='silkeh', api_key='GwBAmaelgKfgkrmuL691')

# IMDB
## Creation of RDD's and DF's

In [5]:
separator = '\t'

#TITLE.BASICS
#tconst, titleType, primaryTitle, originalTitle, isAdult, startYear, endYear, runtimeMinutes, genres
titleBasics_data = sc.textFile('D:/Workspace/_DataMining/DataSets/IMDB/titleBasics.tsv')
titleBasics_rdd = titleBasics_data.filter(lambda l: 'primaryTitle' not in l).map(lambda l: l.split(separator))

#create schema for df
tbFields = []
tbFields.append(StructField('tconst', StringType(), True))
tbFields.append(StructField('titleType', StringType(), True))
tbFields.append(StructField('primaryTitle', StringType(), True))
tbFields.append(StructField('originalTitle', StringType(), True))
tbFields.append(StructField('isAdult', StringType(), True))
tbFields.append(StructField('startYear', StringType(), True))
tbFields.append(StructField('endYear', StringType(), True))
tbFields.append(StructField('runtimeMinutes', StringType(), True))
tbFields.append(StructField('genres', StringType(), True))                           

tbSchema = StructType(tbFields)

#create df
titleBasics_df= sqlContext.createDataFrame(titleBasics_rdd, tbSchema)

succes
[Row(tconst='tt0000001', titleType='short', primaryTitle='Carmencita', originalTitle='Carmencita', isAdult='0', startYear='1894', endYear='\\N', runtimeMinutes='1', genres='Documentary,Short'), Row(tconst='tt0000002', titleType='short', primaryTitle='Le clown et ses chiens', originalTitle='Le clown et ses chiens', isAdult='0', startYear='1892', endYear='\\N', runtimeMinutes='5', genres='Animation,Short')]

In [43]:
#TITLE.AKAS
#tconst, ordering, title, region, language, types, attributes, isOriginalTitle
titleAkas_data = sc.textFile('D:/Workspace/_DataMining/DataSets/IMDB/titleAkas.tsv')
titleAkas_rdd = titleAkas_data.filter(lambda l: 'ordering' not in l).map(lambda l: l.split(separator))

#create schema for df
taFields = []
taFields.append(StructField('titleId', StringType(), True))
taFields.append(StructField('ordering', StringType(), True))
taFields.append(StructField('title', StringType(), True))
taFields.append(StructField('region', StringType(), True))
taFields.append(StructField('language', StringType(), True))
taFields.append(StructField('types', StringType(), True))
taFields.append(StructField('attributes', StringType(), True))
taFields.append(StructField('isOriginalTitle', StringType(), True))                       

taSchema = StructType(taFields)

#create df
titleAkas_df= sqlContext.createDataFrame(titleAkas_rdd, taSchema)

succes

In [50]:
#TITLE.PRINCIPALS
#tconst, ordering, nconst, category, job, characters
titlePrincipals_data = sc.textFile('D:/Workspace/_DataMining/DataSets/IMDB/titlePrincipals.tsv')
titlePrincipals_rdd = titlePrincipals_data.filter(lambda l: 'ordering' not in l).map(lambda l: l.split(separator))

#create schema for df
tpFields = []
tpFields.append(StructField('tconst', StringType(), True))
tpFields.append(StructField('ordering', StringType(), True))
tpFields.append(StructField('nconst', StringType(), True))
tpFields.append(StructField('category', StringType(), True))
tpFields.append(StructField('job', StringType(), True))
tpFields.append(StructField('characters', StringType(), True))                     

tpSchema = StructType(tpFields)

#create df
titlePrincipals_df= sqlContext.createDataFrame(titlePrincipals_rdd, tpSchema)

titlePrincipals_df.show(2, truncate = True)

+---------+--------+---------+--------+---+-----------+
|   tconst|ordering|   nconst|category|job| characters|
+---------+--------+---------+--------+---+-----------+
|tt0000001|       1|nm1588970|    self| \N|["Herself"]|
|tt0000001|       2|nm0005690|director| \N|         \N|
+---------+--------+---------+--------+---+-----------+
only showing top 2 rows

In [51]:
#TITLE.RATINGS
#tconst, averageRating, numVotes
titleRatings_data = sc.textFile('D:/Workspace/_DataMining/DataSets/IMDB/titleRatings.tsv')
titleRatings_rdd = titleRatings_data.filter(lambda l: 'averageRating' not in l).map(lambda l: l.split(separator))

#create schema for df
trFields = []
trFields.append(StructField('tconst', StringType(), True))
trFields.append(StructField('averageRating', StringType(), True))
trFields.append(StructField('numVotes', StringType(), True))                    

trSchema = StructType(trFields)

#create df
titleRatings_df= sqlContext.createDataFrame(titleRatings_rdd, trSchema)

titleRatings_df.show(2, truncate = True)

+---------+-------------+--------+
|   tconst|averageRating|numVotes|
+---------+-------------+--------+
|tt0000001|          5.8|    1416|
|tt0000002|          6.4|     167|
+---------+-------------+--------+
only showing top 2 rows

In [52]:
#TITLE.EPISODE
#tconst, parentTconst, seasonNumber, episodeNumber
titleEpisode_data = sc.textFile('D:/Workspace/_DataMining/DataSets/IMDB/titleEpisode.tsv')
titleEpisode_rdd = titleEpisode_data.filter(lambda l: 'seasonNumber' not in l).map(lambda l: l.split(separator))

#create schema for df
teFields = []
teFields.append(StructField('tconst', StringType(), True))
teFields.append(StructField('parentTconst', StringType(), True))
teFields.append(StructField('seasonNumber', StringType(), True))
teFields.append(StructField('episodeNumber', StringType(), True))                    

teSchema = StructType(teFields)

#create df
titleEpisode_df= sqlContext.createDataFrame(titleEpisode_rdd, teSchema)

titleEpisode_df.show(2, truncate = True)

+---------+------------+------------+-------------+
|   tconst|parentTconst|seasonNumber|episodeNumber|
+---------+------------+------------+-------------+
|tt0041951|   tt0041038|           1|            9|
|tt0042816|   tt0989125|           1|           17|
+---------+------------+------------+-------------+
only showing top 2 rows

In [49]:
#NAME.BASICS
#nconst, primaryName, birthYear, deathYear, primaryProfession, knownForTitles
nameBasics_data = sc.textFile('D:/Workspace/_DataMining/DataSets/IMDB/nameBasics.tsv')
nameBasics_rdd = nameBasics_data.filter(lambda l: 'primaryName' not in l).map(lambda l: l.split(separator))

#create schema for df
nmFields = []
nmFields.append(StructField('tconst', StringType(), True))
nmFields.append(StructField('primaryName', StringType(), True))
nmFields.append(StructField('birthYear', StringType(), True))
nmFields.append(StructField('deathYear', StringType(), True))
nmFields.append(StructField('primaryProfession', StringType(), True))
nmFields.append(StructField('knownForTitles', StringType(), True))

nmSchema = StructType(nmFields)

#create df
nameBasics_df= sqlContext.createDataFrame(nameBasics_rdd, nmSchema)

nameBasics_df.show(1, truncate = True)

nameBasics_df = nameBasics_df.drop('birthYear', 'primaryProfession', 'knownForTitles')

nameBasics_df.show(1, truncate = True)

+---------+------------+---------+---------+--------------------+--------------------+
|   tconst| primaryName|birthYear|deathYear|   primaryProfession|      knownForTitles|
+---------+------------+---------+---------+--------------------+--------------------+
|nm0000001|Fred Astaire|     1899|     1987|soundtrack,actor,...|tt0043044,tt00723...|
+---------+------------+---------+---------+--------------------+--------------------+
only showing top 1 row

+---------+------------+---------+
|   tconst| primaryName|deathYear|
+---------+------------+---------+
|nm0000001|Fred Astaire|     1987|
+---------+------------+---------+
only showing top 1 row

## Join title.Basics and title.Akas

In [47]:
#Aliases
tB_df = titleBasics_df.alias('tB_df')
tA_df = titleAkas_df.alias('tA_df')

#filter title.Akas by region and distinct ID
tA_df_Filtered = tA_df.filter(tA_df.region =='US')
tA_df_Distinct = tA_df_Filtered.dropDuplicates(['titleId']).sort('titleId', ascending=True)

#join title.Basics to title.Akas
tA_Join_tB = tA_df_Distinct.join(tB_df, tA_df_Distinct.titleId == tB_df.tconst, how='left').sort('titleId', ascending=True)
tAtB_Filtered = tA_Join_tB.filter(tA_Join_tB.isAdult =='0')

#drop unnecessary columns
tAtB_reduced = tAtB_Filtered.drop('ordering', 'language', 'types', 
                               'attributes', 'isOriginalTitle', 'tconst', 
                               'primaryTitle', 'originalTitle', 'runtimeMinutes', 
                               'genres', 'isAdult')

tAtB_reduced.show(3, truncate = True)

+---------+--------------------+------+---------+---------+-------+
|  titleId|               title|region|titleType|startYear|endYear|
+---------+--------------------+------+---------+---------+-------+
|tt0000001|          Carmencita|    US|    short|     1894|     \N|
|tt0000002|The Clown and His...|    US|    short|     1892|     \N|
|tt0000005| Blacksmithing Scene|    US|    short|     1893|     \N|
+---------+--------------------+------+---------+---------+-------+
only showing top 3 rows

## Create DF for Movies and for TVSeries

In [ ]:
movies_df = tAtB_reduced.filter(tAtB_reduced.titleType == 'movie').sort('titleId', ascending=True)

movies_df.show(2, truncate = True)