# Imports

In [10]:
from pyspark.sql import SQLContext
from pyspark.sql.types import *
import folium
from ipywidgets import widgets
from IPython.display import display, clear_output
import plotly.plotly as py
import plotly.graph_objs as go
from plotly.widgets import GraphWidget
import plotly
plotly.tools.set_credentials_file(username='silkeh', api_key='GwBAmaelgKfgkrmuL691')

separator = '\t'
#Eva
#filepath = 'D:/Workspace/_DataMining/DataSets'
#Silke
filepath = 'C:/Users/Silke/Documents/GitHub/DataMiningAP'

# IMDB
## Creation of RDD's and DF's

In [11]:
#TITLE.BASICS
#tconst, titleType, primaryTitle, originalTitle, isAdult, startYear, endYear, runtimeMinutes, genres
titleBasics_data = sc.textFile(filepath + '/IMDB/titleBasics.tsv')
titleBasics_rdd = titleBasics_data.filter(lambda l: 'primaryTitle' not in l).map(lambda l: l.split(separator))

#create schema for df
tbFields = []
tbFields.append(StructField('tconst', StringType(), True))
tbFields.append(StructField('titleType', StringType(), True))
tbFields.append(StructField('primaryTitle', StringType(), True))
tbFields.append(StructField('originalTitle', StringType(), True))
tbFields.append(StructField('isAdult', StringType(), True))
tbFields.append(StructField('startYear', StringType(), True))
tbFields.append(StructField('endYear', StringType(), True))
tbFields.append(StructField('runtimeMinutes', StringType(), True))
tbFields.append(StructField('genres', StringType(), True))                           

tbSchema = StructType(tbFields)

#create df
titleBasics_df = sqlContext.createDataFrame(titleBasics_rdd, tbSchema)

#clean data
titleBasics_df = titleBasics_df.drop('originalTitle', 'runtimeMinutes').sort('tconst', ascending=True)
titleBasics_df.show(5, truncate=True)

+---------+---------+--------------------+-------+---------+-------+--------------------+
|   tconst|titleType|        primaryTitle|isAdult|startYear|endYear|              genres|
+---------+---------+--------------------+-------+---------+-------+--------------------+
|tt0000001|    short|          Carmencita|      0|     1894|     \N|   Documentary,Short|
|tt0000002|    short|Le clown et ses c...|      0|     1892|     \N|     Animation,Short|
|tt0000003|    short|      Pauvre Pierrot|      0|     1892|     \N|Animation,Comedy,...|
|tt0000004|    short|         Un bon bock|      0|     1892|     \N|     Animation,Short|
|tt0000005|    short|    Blacksmith Scene|      0|     1893|     \N|        Comedy,Short|
+---------+---------+--------------------+-------+---------+-------+--------------------+
only showing top 5 rows

In [12]:
#TITLE.AKAS
#tconst, ordering, title, region, language, types, attributes, isOriginalTitle
titleAkas_data = sc.textFile(filepath + '/IMDB/titleAkas.tsv')
titleAkas_rdd = titleAkas_data.filter(lambda l: 'ordering' not in l).map(lambda l: l.split(separator))

#create schema for df
taFields = []
taFields.append(StructField('titleId', StringType(), True))
taFields.append(StructField('ordering', StringType(), True))
taFields.append(StructField('title', StringType(), True))
taFields.append(StructField('region', StringType(), True))
taFields.append(StructField('language', StringType(), True))
taFields.append(StructField('types', StringType(), True))
taFields.append(StructField('attributes', StringType(), True))
taFields.append(StructField('isOriginalTitle', StringType(), True))                       

taSchema = StructType(taFields)

#create df
titleAkas_df= sqlContext.createDataFrame(titleAkas_rdd, taSchema)

#clean data
titleAkas_df = titleAkas_df.filter(titleAkas_df.region =='US')
titleAkas_df = titleAkas_df.dropDuplicates(['titleId']).sort('titleId', ascending=True)

titleAkas_df.show(5, truncate=True)

+---------+--------+--------------------+------+--------+-----------+--------------------+---------------+
|  titleId|ordering|               title|region|language|      types|          attributes|isOriginalTitle|
+---------+--------+--------------------+------+--------+-----------+--------------------+---------------+
|tt0000001|       3|          Carmencita|    US|      \N|         \N|                  \N|              0|
|tt0000002|       5|The Clown and His...|    US|      \N|         \N|literal English t...|              0|
|tt0000005|       1| Blacksmithing Scene|    US|      \N|alternative|                  \N|              0|
|tt0000006|       3|   Chinese Opium Den|    US|      \N|         \N|                  \N|              0|
|tt0000007|       1|Corbett and Court...|    US|      \N|         \N|                  \N|              0|
+---------+--------+--------------------+------+--------+-----------+--------------------+---------------+
only showing top 5 rows

In [13]:
#TITLE.PRINCIPALS
#tconst, ordering, nconst, category, job, characters
titlePrincipals_data = sc.textFile(filepath + '/IMDB/titlePrincipals.tsv')
titlePrincipals_rdd = titlePrincipals_data.filter(lambda l: 'ordering' not in l).map(lambda l: l.split(separator))

#create schema for df
tpFields = []
tpFields.append(StructField('tconst', StringType(), True))
tpFields.append(StructField('ordering', StringType(), True))
tpFields.append(StructField('nconst', StringType(), True))
tpFields.append(StructField('category', StringType(), True))
tpFields.append(StructField('job', StringType(), True))
tpFields.append(StructField('characters', StringType(), True))                     

tpSchema = StructType(tpFields)

#create df
titlePrincipals_df = sqlContext.createDataFrame(titlePrincipals_rdd, tpSchema)

#clean data
titlePrincipals_df = titlePrincipals_df.filter(titlePrincipals_df.category.contains("actor") | titlePrincipals_df.category.contains("actress"))
titlePrincipals_df = titlePrincipals_df.filter(titlePrincipals_df.characters !="\\N")
titlePrincipals_df = titlePrincipals_df.drop('job').sort('tconst', ascending=True)

titlePrincipals_df.show(2, truncate = True)

#rdd
titlePrincipals_rdd = titlePrincipals_df.rdd.map(list)
titlePrincipals_rdd.take(10)

+---------+--------+---------+--------+--------------+
|   tconst|ordering|   nconst|category|    characters|
+---------+--------+---------+--------+--------------+
|tt0000005|       2|nm0653042|   actor| ["Assistant"]|
|tt0000005|       1|nm0443482|   actor|["Blacksmith"]|
+---------+--------+---------+--------+--------------+
only showing top 2 rows

[['tt0000005', '1', 'nm0443482', 'actor', '["Blacksmith"]'],
 ['tt0000005', '2', 'nm0653042', 'actor', '["Assistant"]'],
 ['tt0000008', '1', 'nm0653028', 'actor', '["Sneezing Man"]'],
 ['tt0000009',
  '1',
  'nm0063086',
  'actress',
  '["Miss Geraldine Holbrook (Miss Jerry)"]'],
 ['tt0000009', '2', 'nm0183823', 'actor', '["Mr. Hamilton"]'],
 ['tt0000011', '1', 'nm3692297', 'actor', '["Acrobats"]'],
 ['tt0000014', '1', 'nm0166380', 'actor', '["The Gardener"]'],
 ['tt0000014', '2', 'nm0244989', 'actor', '["The Boy"]'],
 ['tt0000017', '1', 'nm3691272', 'actor', '["The boy"]'],
 ['tt0000017', '2', 'nm3692829', 'actress', '["The girl"]']]

In [14]:
#TITLE.RATINGS
#tconst, averageRating, numVotes
titleRatings_data = sc.textFile(filepath + '/IMDB/titleRatings.tsv')
titleRatings_rdd = titleRatings_data.filter(lambda l: 'averageRating' not in l).map(lambda l: l.split(separator))

#create schema for df
trFields = []
trFields.append(StructField('tconst', StringType(), True))
trFields.append(StructField('averageRating', StringType(), True))
trFields.append(StructField('numVotes', StringType(), True))                    

trSchema = StructType(trFields)

#create df
titleRatings_df= sqlContext.createDataFrame(titleRatings_rdd, trSchema)

titleRatings_df.show(2, truncate = True)

+---------+-------------+--------+
|   tconst|averageRating|numVotes|
+---------+-------------+--------+
|tt0000001|          5.8|    1416|
|tt0000002|          6.4|     167|
+---------+-------------+--------+
only showing top 2 rows

## Join title.Basics and title.Akas and title.Ratings

In [17]:
#Aliases
Basics = titleBasics_df.alias('Basics')
Akas = titleAkas_df.alias('Akas')
Ratings = titleRatings_df.alias('Ratings')

#join title.Basics to title.Akas
AkasBasics = Akas.join(Basics, Akas.titleId == Basics.tconst, how='left')

#clean data 1st join
AkasBasics = AkasBasics.filter(AkasBasics.isAdult =='0')
AkasBasics = AkasBasics.drop('ordering', 'language', 'types', 
                               'attributes', 'isOriginalTitle', 'tconst', 
                               'primaryTitle', 'isAdult')
AkasBasics = AkasBasics.filter(AkasBasics.titleType.contains("movie"))
AkasBasics = AkasBasics.filter(AkasBasics.startYear >='1950')

#join AkasBasics with title.Ratings
titleABR = AkasBasics.join(Ratings, AkasBasics.titleId == Ratings.tconst, how='left')

#clean data 2nd join
titleABR = titleABR.drop('tconst')

titleABR.show(3, truncate = True)

#rdd
titleABR_rdd = titleABR.rdd.map(list).filter(lambda x: x[7] != None)
titleABR_rdd.take(10)

+---------+--------------------+------+---------+---------+-------+--------------------+-------------+--------+
|  titleId|               title|region|titleType|startYear|endYear|              genres|averageRating|numVotes|
+---------+--------------------+------+---------+---------+-------+--------------------+-------------+--------+
|tt0021617|   Arizona Territory|    US|    movie|     1950|     \N|             Western|          5.4|      18|
|tt0031603|Made in Germany -...|    US|    movie|     1957|     \N|     Biography,Drama|          6.5|      13|
|tt0035423|    Kate and Leopold|    US|    movie|     2001|     \N|Comedy,Fantasy,Ro...|          6.4|   72053|
+---------+--------------------+------+---------+---------+-------+--------------------+-------------+--------+
only showing top 3 rows

[Row(titleId='tt0021617', title='Arizona Territory', region='US', titleType='movie', startYear='1950', endYear='\\N', genres='Western', averageRating='5.4', numVotes='18'),
 Row(titleId='tt0031603', title='Made in Germany - Die dramatische Geschichte des Hauses Zeiss', region='US', titleType='movie', startYear='1957', endYear='\\N', genres='Biography,Drama', averageRating='6.5', numVotes='13'),
 Row(titleId='tt0035423', title='Kate and Leopold', region='US', titleType='movie', startYear='2001', endYear='\\N', genres='Comedy,Fantasy,Romance', averageRating='6.4', numVotes='72053'),
 Row(titleId='tt0035933', title='Elephant Fury', region='US', titleType='movie', startYear='1953', endYear='\\N', genres='Drama,War', averageRating='4.2', numVotes='6'),
 Row(titleId='tt0036493', title='Black Devils of Kali', region='US', titleType='movie', startYear='1954', endYear='\\N', genres='Action,Adventure,Mystery', averageRating='5.1', numVotes='17'),
 Row(titleId='tt0040018', title="It's Forever Springtime", region='US', titleType='movie', startYear='1950', endYear='\\N', genres='Comedy,Drama', averageRating='6.7', numVotes='62'),
 Row(titleId='tt0040284', title='The Last Days of Pompeii', region='US', titleType='movie', startYear='1950', endYear='\\N', genres='Drama,History', averageRating='5.8', numVotes='68'),
 Row(titleId='tt0040533', title='Faust and the Devil', region='US', titleType='movie', startYear='1950', endYear='\\N', genres='Drama,Musical', averageRating='6.7', numVotes='15'),
 Row(titleId='tt0040846', title='The Art of Burlesque', region='US', titleType='movie', startYear='1950', endYear='\\N', genres='Comedy', averageRating='7.4', numVotes='8'),
 Row(titleId='tt0041024', title='The Ford Television Theatre', region='US', titleType='tvSeries', startYear='1952', endYear='1957', genres='Comedy,Drama,Music', averageRating='8.3', numVotes='128')]

# BabyNames
## RDD Creation
### US

In [18]:
#US Baby Names
#NationalNames.csv
#Id,Name,Year,Gender,Count
nationalname_rdd_init = (sc.textFile(filepath + '/us-baby-names/NationalNames.csv'))
nationalname_rdd = nationalname_rdd_init.filter(lambda x: 'Gender' not in x)
nationalname_rdd = nationalname_rdd.map(lambda x: x.split(","))

### Per State

In [19]:
#State Baby Names
#StateNames.csv
#Id,Name,Year,Gender,State,Count
full_statename_rdd_init = (sc.textFile(filepath + '/us-baby-names/StateNames.csv'))
full_statename_rdd = full_statename_rdd_init.filter(lambda x: 'Gender' not in x).map(lambda x: x.split(","))

## US States

In [20]:
us_states = {
        'AK': 'Alaska',
        'AL': 'Alabama',
        'AR': 'Arkansas',
        'AS': 'American Samoa',
        'AZ': 'Arizona',
        'CA': 'California',
        'CO': 'Colorado',
        'CT': 'Connecticut',
        'DC': 'District of Columbia',
        'DE': 'Delaware',
        'FL': 'Florida',
        'GA': 'Georgia',
        'GU': 'Guam',
        'HI': 'Hawaii',
        'IA': 'Iowa',
        'ID': 'Idaho',
        'IL': 'Illinois',
        'IN': 'Indiana',
        'KS': 'Kansas',
        'KY': 'Kentucky',
        'LA': 'Louisiana',
        'MA': 'Massachusetts',
        'MD': 'Maryland',
        'ME': 'Maine',
        'MI': 'Michigan',
        'MN': 'Minnesota',
        'MO': 'Missouri',
        'MP': 'Northern Mariana Islands',
        'MS': 'Mississippi',
        'MT': 'Montana',
        'NA': 'National',
        'NC': 'North Carolina',
        'ND': 'North Dakota',
        'NE': 'Nebraska',
        'NH': 'New Hampshire',
        'NJ': 'New Jersey',
        'NM': 'New Mexico',
        'NV': 'Nevada',
        'NY': 'New York',
        'OH': 'Ohio',
        'OK': 'Oklahoma',
        'OR': 'Oregon',
        'PA': 'Pennsylvania',
        'PR': 'Puerto Rico',
        'RI': 'Rhode Island',
        'SC': 'South Carolina',
        'SD': 'South Dakota',
        'TN': 'Tennessee',
        'TX': 'Texas',
        'UT': 'Utah',
        'VA': 'Virginia',
        'VI': 'Virgin Islands',
        'VT': 'Vermont',
        'WA': 'Washington',
        'WI': 'Wisconsin',
        'WV': 'West Virginia',
        'WY': 'Wyoming'
}
us_states_abbreviations = list(us_states.keys())

# Analysis
## How many times does name x occur per year

In [21]:
name = "Arwen"

def name_per_year_plot(name):
    print(name)
    pername_nationalname_rdd = nationalname_rdd.filter(lambda x: x[1] == str(name))
    # Create a trace

    trace = go.Scatter(
        x = pername_nationalname_rdd.map(lambda x: int(x[2])).collect(),
        y = pername_nationalname_rdd.map(lambda x: int(x[4])).collect()
    )

    data = [trace]

    return(py.iplot(data, filename='basic-line'))

name_per_year_plot(name)

Arwen

## Top 10 movies for year x

In [31]:
titleABR_rdd.filter(lambda x: x[4] == '2001').sortBy(lambda x: float(x[7]), reverse = True).take(10)

[['tt0626054',
  'Episode #1.11',
  'US',
  'tvEpisode',
  '2001',
  '\\N',
  'Comedy',
  '1.0',
  '7'],
 ['tt0626430',
  'Episode dated 14 March 2001',
  'US',
  'tvEpisode',
  '2001',
  '\\N',
  'Comedy,Talk-Show',
  '1.1',
  '17'],
 ['tt0314134',
  'Gulczas, what do you think...',
  'US',
  'movie',
  '2001',
  '\\N',
  'Comedy,Crime',
  '1.3',
  '1076'],
 ['tt2402465',
  'Joni Table Talk',
  'US',
  'tvSeries',
  '2001',
  '\\N',
  'Talk-Show',
  '1.3',
  '10'],
 ['tt0285357',
  'Elimidate Deluxe',
  'US',
  'tvSeries',
  '2001',
  '\\N',
  '\\N',
  '1.4',
  '9'],
 ['tt0626459',
  'Episode dated 9 July 2001',
  'US',
  'tvEpisode',
  '2001',
  '\\N',
  'Comedy,Talk-Show',
  '1.5',
  '58'],
 ['tt0367362',
  'Love Bytes',
  'US',
  'tvSeries',
  '2001',
  '\\N',
  'Comedy',
  '1.6',
  '20'],
 ['tt0689975',
  'Episode dated 13 February 2001',
  'US',
  'tvEpisode',
  '2001',
  '\\N',
  'Comedy,Talk-Show',
  '1.6',
  '7'],
 ['tt0690108',
  'Episode dated 4 December 2001',
  'US',
  'tvEpisode',
  '2001',
  '\\N',
  'Comedy,Talk-Show',
  '1.6',
  '7'],
 ['tt0728434',
  'Episode #9.183',
  'US',
  'tvEpisode',
  '2001',
  '\\N',
  'Comedy,Music,Talk-Show',
  '1.6',
  '9']]